body{
  height: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
ul{
  display: flex;
  
}
.nav-l{
  margin: 10px 50px;
  padding: 10px 20px;
  transition: 1s ease;
  list-style-type: none;

}
.nav-l:hover{
  font-size: 30px;
  background-image: linear-gradient(gray,white);
 
  border-radius: 10px;
  color: white;
  
}
nav{
  border: 2px solid rgb(252, 224, 224);
  background-image: linear-gradient(rgb(243, 219, 210),rgb(255, 182, 182));
  border-radius: 5px;
  font-size: 20px;
  
}

.section1{
  display: flex;
}
.section2{
  display: flex;
}
.section3{
  display: flex;

}

.section5{
  display: flex;
  justify-content: center;
}
.s5-common-d{
width: 200px;
margin: 0px 10px;
box-shadow: 2px 4px 1px gray;
padding: 0px 10px;
text-align: center;
transition: width 1s;
  
}
.s5-common-d:hover{
  width: 400px;
  background-image: linear-gradient(skyblue,white);
}
.section55{
  margin-top: -10px;
  padding-top: 0;
}

.s1-d1{
  font-size: 30px;
  font-weight: 700;
  margin-left: 15px;
 
}
.s1-d1 pre{
  color: orangered
}
.a-class{
  text-align:center;
  text-decoration: none;
  padding: 10px;
  color: aliceblue;
  background-image: linear-gradient(orangered,rgb(243, 58, 212));
  border-radius: 7px;
  font-size: 20px;
}
.a-class:hover{
  background-image: linear-gradient(green,gray);
  transition: 2s;
}
.s1-d1 p{
  font-size: 25px;
}
.s2-d2{
  margin-top: 100px;
  margin-left: 50px;
}
.s2-d2 h1{
  font-size: 35px;
}
.s2-d2 p{
font-size: 25px;

}
.s2-d2 a{
  text-decoration: none;
  text-align: center;
  margin-left: 200px;
}
.s3-d1 h1{
  font-size: 30px;
  margin-left: 50%;
  margin-top:20px;
  justify-content: center;

}
.s3-d1 p{
  font-size: 28px;
  margin:0 100px 80px 100px;
}
.s4-d1{
  display:flex;
  margin: 10%;
  justify-content: center;
  padding: 100px;
}
.s4-common-d{
  box-shadow: 10px 20px 5px gray;
  width: 1000px;
  border: 10px solid white;
  border-radius: 20px;
  margin: 0 20px;
  padding:10px 15px;
  height: 450px;
  background-image: linear-gradient(skyblue,white);
  transition: width 1s;
   
}
.s4-common-d:hover{
  width: 2000px;
 
  height: 500px;
}
.s4-common-d-img{
  width: 100%;
  border-radius: 10px;
}
.s4-common-d-img:hover{
  width: 100%;
}

.s4-common-d p{
  font-size: 20px;
}
.section6{
  text-align: center;
  margin-top: 100px;
  background-image: linear-gradient(orangered,white);
  
}
.section6 span{
  color: white;
  font-size:28px;
}
.section6-d1 a{
text-align: justify;

}
.fab fa-facebook{
color: rgb(5, 139, 0);

}
.fab fa-facebook:hover{
  transform:translate(0,20px);
  font-size: 32px;
  text-align: center;
}



